
#button{
    margin-top: 200px;
    position: absolute;
    z-index: 2;
    margin-left: 100px;
    box-shadow: 5px 5px 5px;
}
#button2{
    margin-top: 200px;
    float: left;
    margin-left: 100px;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 5px; 
    }  
body{
    background-color:#4D6A6D ;
}
#sloppyJoe {
 margin-top: 150px;
 height: 200px;
 width: 350px;
 float: left;
 position: relative;
 box-shadow: 5px 5px 5px;
 border-radius: 8px 8px 8px;
}
#sloppyJoe:hover{
content: url("../comfort-food-recipes-64668a179574d.png");
transition-delay: 2s;
}
article{
    display: flex;
    display: grid;
}
#newsImg{
    margin-top: 150px;
 height: 200px;
 width: 350px;
 float: left;
 position: relative;
 box-shadow: 5px 5px 5px;
 border-radius: 8px 8px 8px;

}