body{
    background-color: #4D6A6D ;
}
#banner{
    width: 100%;
    position: absolute;
    padding: 30px;
    color: white;
    background-color: black;
    display: flex ;
    gap: ;
    flex-direction: column
}
#welcome{
    margin-bottom: ;
    font-size: large;
    padding-left: 60px;
    }
#par{
    margin-top: px;
    font-size: xx-large;
    padding-left: 60px;
}
#darkCard{
    margin-top: 300px;
    float: inline-end;
    margin-right: 50px;
    display: flex;
    margin-left:  30px;

    }
#scrollBox{
    overflow-y: scroll;
   padding-top: 250px;
    
    outline: border; 
    width: auto;
    height: 1000px;
    scrollbar-color: #4D6A6D black ;
    
    }
footer{
    border-top: black 1px;
    padding-top: 100px;
    text-align: center;
}



  
