body{
    background-color: #4D6A6D ;
}
#banner{
    width: 100%;
    position: absolute;
    padding: 50px;
    color: white;
    background-color: black;
    display: flex ;
    gap: ;
    flex-direction: column
}
#welcome{
    margin-bottom: ;
    font-size: large;
    padding-left: 60px;
    }
#par{
    margin-top: px;
    font-size: xx-large;
    padding-left: 60px;
}
#darkCard{
    margin-top: 300px;
    float: inline-end;
    }
#scrollBox{
  
   padding-top: 250px;
    justify-content: ;
   gap: 50px;
  
    
}

  
